/* About.module.css */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: rgba(0, 0, 0, 0.5); /* Set a transparent black background */
    position: relative;
    z-index: 0;
    margin-top: -30px; /* Adjust the margin to reduce the gap */
    font-family: 'VT323', monospace;
}

.contentBox {
    width: 80%; /* Increase the width of the content box */
    min-height: 150px; /* Increase the minimum height */
    padding: 3rem;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(135deg, #f5fefb, #023b02);
    font-size: 1.3em; /* Increase the font size */
}

.contentBox:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(204, 1, 52, 0.794);
}

.contentBox h1 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 0.3rem;
}

.contentBox p {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.contentBox a {
    display: inline-block;
    padding: 0.75em 1.5em; /* Larger button */
    background-color: #0f0f0f; /* Button background color */
    color: white; /* Button text color */
    border-radius: 8px; /* Rounded button */
    font-size: 1em; /* Adjust button font size if needed */
    text-decoration: none; /* Removes underline */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    margin-bottom: 2rem; /* Adjust the margin bottom as needed */
}

.contentBox a:hover {
    background-color: #620f20;}
