/* Projects.module.css */
.projectTitle {
  width: 100%;
  padding: 0.75rem; /* Reduced padding */
  text-align: center;
  background: linear-gradient(to right, #000000, #023b02);
  color: #ffffff;
  margin-bottom: 1.5rem; /* Reduced margin */
  font-size: 1.5em; /* Reduced font size */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh; /* Reduced height */
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 0;
  margin-top: -20px; /* Reduced margin */
  font-family: 'VT323', monospace;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Reduced gap */
}

.projectCard {
  width: 70%; /* Reduced width */
  min-height: 120px; /* Reduced height */
  padding: 2rem; /* Reduced padding */
  border-radius: 8px; /* Reduced border radius */
  border: 2px solid #040404;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(135deg, #f5fefb, #023b02);
  font-size: 1.1em; /* Reduced font size */
  margin-bottom: 0.4rem; /* Reduced margin */
}

.largeCard {
  flex: 0 0 55%; /* Adjusted size */
}

.smallCard {
  flex: 0 0 25%; /* Adjusted size */
}

.projectCard:hover {
  transform: translateY(-4px); /* Reduced transformation */
  box-shadow: 0 12px 28px rgba(204, 1, 52, 0.794);
}

.projectCard h2 {
  font-size: 1.75em; /* Reduced font size */
  color: #000000;
  margin-bottom: 0.25rem; /* Reduced margin */
}

.toolsList {
  margin: 8px 0; /* Reduced margin */
}

.tool {
  display: inline-block;
  background: #ffffff;
  color: #000000;
  border-radius: 4px; /* Reduced border radius */
  padding: 4px 8px; /* Reduced padding */
  margin: 4px; /* Reduced margin */
  font-size: 0.75em; /* Reduced font size */
  border: 1px solid #a2f0d2;
}

.repoLink {
  display: inline-block;
  padding: 0.6em 1.2em; /* Reduced padding */
  background-color: #0f0f0f;
  color: white;
  border-radius: 6px; /* Reduced border radius */
  font-size: 0.9em; /* Reduced font size */
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-bottom: 1.5rem; /* Reduced margin */
}

.repoLink:hover {
  background-color: #620f20;
}

@media (min-width: 768px) {
  .projectCard {
    width: 50%; /* Further reduced width for larger screens */
  }
}
